@import "tailwindcss";
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


* {
  font-family: "Poppins", sans-serif;

}
::-webkit-scrollbar{
  width: 5px;
  background-color: black;
}

::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 10px;

}
html {
  scroll-behavior: smooth;
}
@theme{
  --color-dark-fig: #000000;
  --color-gray-fig:#939598;
  --color-white-fig:#FFFFFF;
  --shadow-fig: 9px 7px 0px rgba(0,0,0,1);
  --shadow-fig-active: 0px 0px 0px rgba(0,0,0,1);
  --bg-split:linear-gradient(to right, black 0%, black 50% , white 50%, white 100%);
}
@layer utilities {
  @keyframes spinAround {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spinAround {
    animation: spinAround 5s linear infinite;
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .animate-fadeInLeft {
    animation: fadeInLeft 1s ease-in-out;
  }

  @keyframes loading {
    0% {
      transform: rotate(0turn);
    }
    100% {
      transform: rotate(1turn);
    }
  }

  .animate-loading{
    animation: loading 2s linear infinite;
  }
  
}
